@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Poppins&family=Sora:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

/* Size for brand */
/* nav .navbar-brand
{
    font-size: xx-large;
} */

/* Colors for brand */
/* nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.styled-table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    border-radius: 10px;
    border: 2px;
    padding: 100px;

}

.styled-table thead tr {
    background-color: #537fbe;
    color: #ffffff;
    text-align: centre;
}

.styled-table th,
.styled-table td {
    padding: 0.75rem;
    vertical-align: middle;
}
 */


/* Form Container */
.box-area {
    width: 930px;
    border-radius: 15px;
}

/* Right Box */
.right-box {
    padding: 40px 30px 40px 40px;
}


/* Custom Placeholder */
::placeholder {
    font-size: 16px;
}

/* For small screens */
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}   