@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Poppins&family=Sora:wght@300&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.container-content {
    height: 75vh;
}

/* Form Container */
.box-area {
    width: 930px;
    border-radius: 15px;
}

/* Right Box */
.right-box {
    padding: 40px 30px 40px 40px;
}

/* For small screens */
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
} 

@media (max-width: 991.98px) {
    .register-text {
        margin-top: 1rem!important; 
    }
}