<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      rel="stylesheet"
    />

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/static/favicon.ico" rel="icon"/>

    <link href="/static/styles.css" rel="stylesheet"/>

    <title>Movie Recommender: {% block title %}{% endblock %}</title>
  </head>

  <body>

    <!-- TODO: FIX NAV TO DEAL SMALLER SCREENS-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-collapse justify-content-end" id="navbar">
        <div
          class="container d-flex align-items-center justify-content-between px-4"
        >
          <a class="navbar-brand" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-camera-reels-fill"
              viewBox="0 0 16 16"
            >
              <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
              <path
                d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"
              />
            </svg>
          </a>
          <ul class="navbar-nav ml-auto d-flex align-items-center flex-nowrap">
            {% if session["user_id"] %}
            <li class="nav-item">
              <a href="recommender" class="btn btn-link mx-2"
              
                >Movie Recommender</a
              >
            </li>

            <li class="nav-item">
              <a href="/library" class="btn btn-link mx-2"
                >My Library</a
              >
            </li>

            <li class="nav-item">
              <a href="/logout" class="btn btn-outline-primary mx-2 btn-curved"
                >Log Out</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a href="/login" class="btn btn-outline-primary mx-2 btn-curved"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a href="/register" class="btn btn-primary btn-curved"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if get_flashed_messages() %}
    <header>
      <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
      </div>
    </header>
    {% endif %}

    <main class="container-fluid py-5">
      {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted">
      Data provided by <a href="https://abc/">To Be Added</a>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>